@page "/emotionml"
@rendermode InteractiveServer

@inject IJSRuntime JS

<PageTitle>Emotion ML Live Feed</PageTitle>

<h1>EmotionML</h1>

<p role="status">Status: @webcamStatus</p>
<video id="webcam" width="640" height="480" autoplay></video><br />
<FaceDetection />
<button class="btn btn-primary" @onclick=toggleWebcamState>@webcamBtn</button>
<button class="btn btn-primary">@emotionDetectBtn</button>
